.estatistica{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valor{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 3rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.texto{
    font-size: 1.2rem;
    font-weight: 300;
}

@media (max-width: 400px) {
    .valor{
        font-size: 2rem;
        height: 72px;
        width: 72px;
    }
    
    .texto{
        font-size: 1.1rem;
    }
    
}